<h1 *ngIf="filteredCategories.length">Available Categories</h1>
<div class="categories">
  <ng-container *ngIf="filteredCategories.length > 0; else noCategory">
    <mat-card class="category-card" *ngFor="let category of filteredCategories">
      <mat-card-header>
        <mat-card-title>{{ category.type }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ category.src }}"
        width="100%"
        height="60%"
        alt="{{ category.type }}"
      />
      <br />

      <mat-card-actions>
        <button
          mat-raised-button
          class="add-btn"
          (click)="shopNow(category.type)"
        >
          Shop Now
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #noCategory>
    <p>No Category Available.</p>
  </ng-template>
</div>
