<div class="nav-bar">
  <div class="logo" (click)="navigateTo('')" (keyup.enter)="navigateTo('')" tabindex="0">
    <span class="logo-text"> SmartShop </span>
    <img src="assets/icons/shop.svg" alt="shop logo" height="48" width="34" />
  </div>

  <div class="right-container">
    <div *ngIf="(isUserAuthenticatedAdmin$|async) as userAdmin" class="user-status" tabindex="0"
      (click)="toggleAdminDropdown()" (keyup.enter)="toggleAdminDropdown()">
      <mat-icon>supervisor_account</mat-icon>
      <div *ngIf="showAdminDropdown" class="dropdown-content">
        <a>Users</a>
        <a>Products</a>
        <a>Orders</a>
      </div>
    </div>
    <div class="cart-icon" (click)="navigateTo('cart')" (keyup.enter)="navigateTo('cart')" tabindex="0">
      <mat-icon>shopping_cart</mat-icon>
      <span class="cart-item-count">{{ cartItemCount }}</span>
    </div>
    <div *ngIf="(isUserAuthenticated$ | async) === false as isAuthenticated" class="user-status"
      (click)="navigateTo('login') " (keyup.enter)=" navigateTo('login') " tabindex="0">
      <span>Login</span>
    </div>
    <div *ngIf="(isUserAuthenticated$ | async) as isAuthenticated" class="user-status" (click)="toggleUserDropdown()"
      (keyup.enter)="toggleAdminDropdown()" tabindex="0">
      <mat-icon>supervised_user_circle</mat-icon>
      <div *ngIf="showUserDropdown" class="dropdown-content">
        <a (keyup.enter)="logout()" (click)="logout()" tabindex="0">Logout</a>
        <a (keyup.enter)="userProfile()" (click)="userProfile()" tabindex="0">User Profile</a>
      </div>
    </div>

  </div>
</div>

<div class="bottom-nav-bar">
  <div class="categories" (click)="navigateTo('')" (keyup.enter)="navigateTo('')" tabindex="0">
    <mat-icon> border_all</mat-icon>
    Categories
  </div>
  <app-search *ngIf="showSearchBar" style="width: 70%"></app-search>
</div>